/* *********************** */
/* below 1460px 91.43em */
/* *********************** */

@media (max-width: 91.43em) {
  .intro-section {
    margin-right: 2em;
  }
}

/* *********************** */
/* below 1377px 86em */
/* *********************** */
@media (max-width: 86em) {
  .intro-section {
    margin-right: 0;
    padding: 2rem;
  }
  .hero-section img {
    margin-bottom: 3em;
  }
}

/* *********************** */
/* below 1100px 68.75em */
/* *********************** */
@media (max-width: 68.75em) {
  /* .intro-section p {
    line-height: 4.6em;
  } */

  /* .hero-section img {
    width: 60em;
  } */
  .container h1 {
    font-size: 2.6rem;
  }
  .intro-section h1 {
    font-size: 2.6rem;
  }
  .intrp-section p {
    font-size: 1.8em;
  }
  .hover h2 {
    font-size: 1.8rem;
  }
  .hover p {
    font-size: 1.2rem;
  }
}

/* *********************** */
/* below 990px 61.87em */
/* *********************** */

@media (max-width: 61.87em) {
  /* .hero-section img {
    width: 55em;
  } */
}
/* *********************** */
/* below 900px 56.25em */
/* *********************** */
@media (max-width: 56.25em) {
  .intro-section p {
    line-height: 2.6em;
    font-size: 1.8rem;
  }
  .intro-section h1 {
    font-size: 2.2rem;
  }
  .container h1 {
    font-size: 2.2rem;
  }
}

/* *********************** */
/* below 990px 61.87em */
/* *********************** */
/* @media (max-width: 70.62em) {
  .intro-section {
    width: 75%;
  }
} */

/* *********************** */
/* 768px 48em */
/* *********************** */
@media (max-width: 48em) {
  html {
    font-size: 65%;
  }

  .menu-toggle {
    display: block;
    right: 1.5em;
    position: relative;
    color: #190970;
    left: 14.5em;
  }

  .main-nav {
    flex-direction: column;
    width: 31%;
    position: absolute;
    top: 10em;
    right: 1.6em;
    background-color: #f8f9fa;
    z-index: 1;
  }

  .main-nav li {
    margin: 0;
    width: 100%;
    text-align: left;
  }

  .main-nav a {
    padding: 0.5em 1em;
    display: block;
    width: 100%;
    height: 5em;
  }

  .expanded-nav {
    background-color: #f8f9fa;
    padding: 1em;
    text-align: center;
    position: absolute;
    width: 52%;
    top: 12em;
    left: 0;
    z-index: 1;
    margin-top: 9em;
  }
  /* .hero-section {
    flex-direction: column;
  } */
  /* .hero-section img {
    width: 41rem;
    height: 30em;
  } */
}

/* *********************** */
/* 664px 41.5em */
/* *********************** */
@media (max-width: 41.5em) {
  /* .hero-section img {
    width: 34rem;
    height: 30em;
  } */

  .categories {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-left: 2em;
  }
}
/* *********************** */
/* 592px 37em */
/* *********************** */
@media (max-width: 37em) {
  /* .hero-section img {
    width: 29rem;
    height: 26em;
  } */
}

/* *********************** */
/* 544px 34em */
/* *********************** */
@media (max-width: 34em) {
  /* .hero-section img {
    width: 25em;
    height: 23em;
  } */
  /* .intro-section p {
    line-height: 1.8rem;
  } */
}

/* *********************** */
/* 460px 28.75em */
/* *********************** */
@media (max-width: 34em) {
  /* .hero-section img {
    width: 25em;
    height: 23em;
  } */
  /* .intro-section p {
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
  .intro-section h1 {
    font-size: 1.6rem;
  } */
}

/* *********************** */
/* 401px 25em */
/* *********************** */
@media (max-width: 34em) {
  /* .hero-section img {
    width: 21em;
    height: 21em;
  } */
  /* .intro-section p {
    line-height: 1.4rem;
    font-size: 1.2rem;
  }
  .intro-section h1 {
    font-size: 1.6rem;
  } */
}

/* *********************** */
/* 344px 21.5em */
/* *********************** */
@media (max-width: 21.5em) {
  /* .hero-section img {
    width: 19em;
    height: 20em;
  } */
}
/* *********************** */
/* 300px 18.75em */
/* *********************** */
@media (max-width: 18.75em) {
  /* .hero-section img {
    width: 15em;
    height: 19em;
  } */
}

/* Set a max-width for the container and margin to auto to center it */
/* .container {
  max-width: 1200px;
  margin: auto;
} */

/* Responsive Image */
img {
  max-width: 100%;
  height: auto;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  /* Adjust styling for tablets */
  .carousel-item {
    width: 70%; /* Display 2 items per row */
  }

  /* Adjust other elements as needed */
  /* ... */
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  /* Adjust styling for mobile devices */
  .carousel-item {
    width: 100%; /* Display 1 item per row */
  }

  /* Adjust other elements as needed */
  /* ... */
}
